.notes-container {
  display: flex;
  height: 100vh;
}

.note-list {
  padding-top: 1%;
  flex-grow: 1;
  border-right: $base-border;
}

.note-list .expander {
  padding: 5%;
}

.note-tiles {
  border-top: $base-border;
}

.note-view {
  flex-grow: 5;
}

.note-listing {
  border-bottom: $base-border;
  padding: 8%;
  cursor: pointer;
}

.note-pane {
  display: flex;
  height: 100vh;
}

.note-content {
  border-left: $base-border;
  flex-grow: 1;
  padding: 1%;
}

.edit-note-form.expanded {
  flex-grow: 1;
}

.edit-note-form textarea {
  width: 99%;
  height: 100vh;
}

.note-tools {
  padding: 1%;
  border-bottom: $base-border;
  display: flex;
  align-items: baseline;
}

.note-buttons {
  padding-right: 2%;
}

.editor-top {
  min-height: 1.5em;
}

.note-name { padding-left: 3%; }
